<div class="container">
  <div class="tabs">
    <mat-tab-group> <!-- (selectedTabChange)="currentRoom = $event.tab"-->
      <mat-tab *ngFor="let room of rooms" label="{{room}}">
        <ul class="messages">
          <li *ngFor="let message of getRoomMessages(room)"><strong>{{message.user}}: </strong> <span [innerHTML]="message.htmlText ? message.htmlText : message.text"></span></li>
        </ul>
      </mat-tab>
    </mat-tab-group>
  </div>
  <form #messageForm="ngForm" (ngSubmit)="handleFormSubmit(messageForm)" ngForm class="input">
    <mat-form-field class="example-full-width input-field">
      <input #text="ngModel" name="text" [autocomplete]="false" matInput placeholder="Enter message" [(ngModel)]="currentMessage">
    </mat-form-field>
    <button mat-raised-button color="primary">Submit</button>
  </form>
</div>
